type: object
description: Команда
properties:
  id:
    type: integer
    format: int64
  name:
    type: string
  description:
    type: string
    nullable: true
  created_by:
    type: integer
    format: int64
  created_at:
    type: string
    format: date-time
required:
  - id
  - name
  - created_by
  - created_at
