post:
  tags:
    - Auth
  summary: Регистрация нового пользователя в системе
  operationId: RegisterUser
  security: []
  requestBody:
    required: true
    content:
      application/json:
        schema:
          type: object
          properties:
            username:
              type: string
              minLength: 3
              maxLength: 50
            email:
              type: string
              format: email
            password:
              type: string
              format: password
              minLength: 8
          required:
            - username
            - email
            - password
  responses:
    '200':
      description: Успешная регистрация
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
                description: JWT-токен для авторизации
              user:
                $ref: ../../components/schemas/user.yaml
            required:
              - token
              - user
    '400':
      description: Ошибка валидации данных
      content:
        application/json:
          schema:
            $ref: ../../components/errors/bad_request_error.yaml
    '409':
      description: Пользователь с таким email/username уже существует
      content:
        application/json:
          schema:
            $ref: ../../components/errors/conflict_error.yaml
    '500':
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: ../../components/errors/internal_server_error.yaml
    default:
      description: Непредвиденная ошибка
      content:
        application/json:
          schema:
            $ref: ../../components/errors/generic_error.yaml
