type: object
description: Ресурс не найден
properties:
  code:
    type: integer
    format: int32
    example: 404
  message:
    type: string
    example: "Resource not found"
required:
  - code
  - message
